body {
  hyphens: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

tr:nth-of-type(odd) {
  background-color: lightgray;
}

td, th {
  border: 1px solid black;
  padding: 3px;
}

td {
  text-align: right;
}

th {
  background-color: blue;
  color: white;
}

summary {
  margin-bottom: 10px;
}
